* {
    margin: 0;
    padding: 0;
    transition: none;
}
.nav-bar {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.logo{
    width: 20%;
    position: relative;

    float: left;
    padding-top: 10px;
}
.dhangale-logo{
    width: 200px;
    height: auto;
}